.combain-styles{
    display: flex;
    /* display: grid; */
    flex-direction: row;
    /* width: 400px; */
    /* margin-right: 30px; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 10px; */
}
/* .combain-styles:hover{
    transform: scale(1.15);
    overflow: hidden;
} */
.SmallComp-form-cards{
    margin: 5px;
    padding: 5px 5px 10px 5px;
}
@media screen and (max-width: 1200px) {    
    .SmallComp-form-cards{
        margin: 20px;
    }
}